<!DOCTYPE html>
<html>
<head>
	<title> Upload</title>
</head>
<body>
<form id="upload-form" action="{{url_for('index')}}"" method ="POST" enctype="multipart/form-data">
	<input type="file" name="file" accept="image/*">
	<input type="submit" name="send">


	
</form>
</body>
</html>