<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Visualize by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						
						<h1>This is <strong>MY DRIVE'S New Feature</strong>, an image gallery <a href="#">ImG</a><br /> for sharing to this open free World<br>
				 released under the ITWS PROJECT by Aditya and Samudraneel.</h1>
						<h1>Upload new File</h1>
    <form action="{{ url_for('upload_file2')}}" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>
						<ul class="icons">
							<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
						</ul>
					</header>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails image ">

								<div>
									{% for dir in dirs %}
									<a href="static/images/thumbs/{{dir}}">
										<img style="float: left" src="static/images/thumbs/{{dir}}" alt="" />
										<h3>Lorem ipsum dolor sit amet</h3>
									</a>
									{% endfor %}
								</div>
							</section>

					</section>

				<!-- Footer -->
					<footer id="footer">
						<p>&copy; Untitled. All rights reserved. Design: <a href='#'>Aditya Khandelwal</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>