<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<head>
<style>
.btn-group .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.btn-group .button:hover {
    background-color: #3e8e41;
}
</style>
</head>
<body>
<img src="onedrive.png" alt="image">
<h1 align="center">welcome</h1>
<p>{{name}}</p>
<p>{{lastname}}</p>

<div class="btn-group">
  <button class="button">login</button>
  <button class="button">signup</button>
  <button class="button">my folders</button>
  <button class="button">logout</button>
</div>

<p style="clear:both"><br>my drive</p>

</body>
</html>

