<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<style>
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
</style>
<body>

<h3>SignUp</h3>

<div>
  <form action="{{ url_for('index')}}" method="post">
<label>Name</label>
    <input type="text" id="name" name="name" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Any other country</option>
      <option value="canada">India</option>
      <option value="usa">USA</option>
    </select>
    <label>Email</label>
    <input type="text" name="mail" placeholder="Your Email">
    <label>Password</label>
    <input type="Password" name="password">
    <label>Confirm Password</label>
    <input type="Password" name="cpassword">
    <input type="submit" value="Sign Up">
  </form>
</div>
<button>Log In</button>
</body>
</html>

